.content-container{
    width:100vw;
    position: relative;
    background-color: var(--primary-color);
    padding-top: 3px;
}


.image-text-box{
    display: flex;
    flex-direction: column;
}


@media screen and (min-width:865px){
    .image-text-box{
        margin-left: auto;
        margin-right: auto;
               display: grid;
               width:90vw;
               /* background-color: #00bfff; */
              
               grid-template-columns: 1fr 1fr; 
       gap:3rem;
       
  }

  .image-holder{
    width:60vw;
    max-width: 500px;
    height:100%;
  }

  .desc
}




