.hero-container{
    background-color: var(--primary-color);
    width:100vw;
    position: absolute;
    top:80px;
    ;
    
}

.hero-logo{
    height:300px;
    width:100vw;
    background-color: black;
}

.hero-logo p{
    align-items: ;
}