.hero2-container{
    width:100vw;
    background:transparent;

position: relative;
height:75vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.text-image-box{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
   /* position: absolute;
   top:10%; */
    /* width: 100vw; */
}

.text-box{
    margin-top: 2rem;
}



.logo-box img{
    margin-top: -3rem;
  height:150px;

}

.text-box p, h2{
   padding: 0 1rem 0 1rem;
}

.text-box h2{
    font-size: 2.2rem;
}

.text-box p{
    font-size: 1.33rem;
}

.no-line{
    white-space: nowrap
}

.hero-text{
    color:white;
    font-family: 'Abhaya Libre', sans-serif;
}





@media screen and (min-width:455px){
    .text-image-box{
        flex-direction:row-reverse;
        position: absolute;
        top:-30%;
    }

    .logo-box{
        height:100%;
        transform: translateX(-2rem);
    }

    .logo-box img{
       margin-top: 5rem;
       height:280px
       
    }

    .text-box{
        margin-top: 6rem;
        width:50vw;
    }

    .text-box h2{
        font-size:4rem;
        
    }

    .text-box p{
        font-size: 1.75rem;
    }

    .logo-box{
        width:50vw;
    }

    .image-box img{
        height:50vw;
        max-height: 307px;
    }


}


@media screen and (min-width:1000px){

    .text-image-box{
        max-width: 1200px;

        justify-content: center;
    }
    .text-box{
        margin-left: 2rem;
    }

    .text-box h2{
        font-size: 5rem;
    }

    .logo-box img{
        /* max-height: 360px; */
    }
}