.hero2-container{
    width:100vw;
    background:transparent;

position: relative;
height:80vh;
display: flex;
align-items: center;
}

.text-image-box{
    display: flex;
    flex-direction: column;
}

.image-box img{
    height:30vw;
}

.text-box p, h2{
   padding: 0 1rem 0 1rem;
}

.no-line{
    white-space: nowrap
}

.hero-text{
    color:white;
    font-family: 'Abhaya Libre', sans-serif;
}


@media screen and (min-width:455px){
    .text-image-box{
        flex-direction:row-reverse;
        position: absolute;
        top:20%;
    }

    .text-box{
        width:50vw;
    }

    .text-box h2{
        font-size:4rem;
        
    }

    .text-box p{
        font-size: 1.75rem;
    }

    .image-box{
        width:50vw;
    }


}


@media screen and (min-width:1000px){

    .text-image-box{
        max-width: ;
    }
    .text-box{
        margin-left: 2rem;
    }

    .text-box h2{
        font-size: 5rem;
    }

    .image-box img{
        max-height: 360px;
    }
}