.hero-container{
    background-color: var(--primary-color);
    width:100vw;
    position: absolute;
    top:80px;
    margin-bottom: 3rem;
    
}

.hero-logo{
    height:300px;
    background-color: black;
}