.hero-container{
    background-color: var(--primary-color);
    width:100vw;
    position: absolute;
    top:80px;
    ;
    
}

.hero-logo{
    height:300px;
    width:100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-logo p{
    align-items: center;
    font-size: 30px;
    color:white;
}