.navbar2-container{
    width:100vw;
    height:76px;
    position: relative;
    z-index: 100;

}

.navbar-contents{
    display: flex;
    flex-direction: row;
transform: translateY(-0.5rem);

   justify-content: center;
}

.navbar2-list{
    color:red;
    position: absolute;
    top:60%;
    z-index: 100000;
}


.navbar-text{
    margin-top:auto;
    margin-bottom: auto;
    font-family: 'Abhaya Libre', sans-serif;
    font-size: 3rem;
}

.navbar2-logo{
    height:50px;
    margin-top: auto;
    margin-bottom: auto;
}

