.outro-container{
    width: 100vw;
    /* background-image: url('src/media/image-holder-dark.png'); */
    /* background-image: url('src/media/goku-vs-jiren.jpg'); */
    /* height:90vw; */
 display: flex;
 flex-direction: column;
 align-items: center;
 background-repeat: cover;
 background-size: cover; 
 background: radial-gradient(circle at center, #e5c06f, #776237);
 position: relative;
 /* border:2px solid white; */
/* margin-bottom: 5rem;
margin-top: 6rem; */
margin-top:-8rem;
background: radial-gradient(circle at center, rgba(229, 192, 111, 0.5), rgba(119, 98, 55, 0.5));



}













@media screen and (min-width:655px) {
    .outro-container{
      
        background-position: center 50%;
        margin-top:-20rem;
    }


   
}

@media screen and (min-width: 865px){
    .outro-container{
       
       
    }



    

    
}