.outro-container{
    width: 100vw;
    
 display: flex;

 align-items: center;
 justify-content: center;

 background: radial-gradient(circle at center, #e5c06f, #776237);
 position: relative;
 /* border:2px solid white; */
/* margin-bottom: 5rem;
margin-top: 6rem; */
margin-top:-8rem;
background: radial-gradient(circle at center, rgba(229, 192, 111, 0.5), rgba(119, 98, 55, 0.5));



}

.outro-contents{
    margin:auto;
}

.outro-contents p{
    width:80vw;
    margin:auto;
}













@media screen and (min-width:655px) {
    .outro-container{
      
       
        margin-top:-20rem;
    }


   
}

@media screen and (min-width: 865px){
 



    

    
}