.packages-container{
    background: radial-gradient(circle at center, #e5c06f, #776237);
    width:100vw;
    /* display: flex;
    display: row; */

}

.package-1, .package-2{
    background-color: #776237;
    padding:2rem 0 2rem 0;
    margin-bottom: 3rem;
}

.package-1,.package-2 li{
    color:white;

}

.package-list{
    list-style:none;
    padding:0;
    marign
}

.package-1 .title-text{
    /* color:white; */
}




