.packages-container{
    /* background: radial-gradient(ellipse at center, #e5c06f, #776237); */
    /* background: linear-gradient(to bottom right, #BE9F5B, #a2874e); */
    /* background-color: black; */
    /* background: radial-gradient(circle at center, #000000, #000000, #BE9F5B);
    background: radial-gradient(circle at center, #000000, #000000, #BE9F5B, #000000);
    background: radial-gradient(circle at 80%, #000000 20%, #BE9F5B 25%, #000000 30%);
    background: radial-gradient(circle at 50% 10%, #000000 10%, #BE9F5B 15%, #000000 20%); */
    background: radial-gradient(polygon, #000000 10%, #BE9F5B 15%, #000000 20%);




    width:100vw;
position: relative;
    padding-top:1.5rem
    /* display: flex;
    display: row; */

}

.packages-container h1,p{
    padding:0 1rem 0 1rem;
    color:white;
}

.package-intro{
    /* background-color: #BE9F5B; */
    width:100vw;
    padding: 1rem 0 1rem 0rem;
    margin-bottom: 1.5rem;
    color:white;
}



.package-1, .package-2{
    /* background-color: #937945; */
    /* background-color: #BE9F5B; */
    padding:2rem 0 2rem 0;
    margin-bottom: 3rem;
    border: 4px solid #463921;
    color:white;
}

.package-1 li,.package-2 li{
    color:white;
    padding: 0 2rem 0 2rem;
 

}

.package-list{
    list-style:none;
    padding:0;
    margin-top: 1rem;

}

.package-list li{
    margin-bottom: 1rem;
    /* padding-left: 3.5rem; */
}

.package-1 .title-text, .package-2 .title-text{
    color:white;
}

.package-offer{
    color:white;
    font-weight: 500;
}

.bold{
    font-weight: 700;
}

.package-outro{
    /* background-color: #BE9F5B; */
    padding:2rem 1rem 0 1rem;
    margin-bottom: 1.75rem;
}



@media screen and (min-width:655px){
   .packages-box{
    display: flex;
    width:100vw;
    justify-content: space-between;
    max-width:1600px;
    margin:auto;
   }

   .package-1, .package-2{
    width:45vw;
    
   }

   .package-1{
    margin-left:2rem;
   }

   .package-2{
    margin-right:2rem;
   }

   .package-intro{

    width:100vw;
    margin:0rem auto 2rem auto;
    font-size: 1.3rem;
    padding:1rem 5rem 1rem 5rem;

   }

   .package-outro{
    padding-top: 2rem;
    font-size: 1.3rem;
   
   }
}




