.packages-container{
    /* background: radial-gradient(ellipse at center, #e5c06f, #776237); */
    /* background: linear-gradient(to bottom right, #BE9F5B, #a2874e); */
    background-color: black;



    width:100vw;
position: relative;
    padding-top:1.5rem
    /* display: flex;
    display: row; */

}

.packages-container h1,p{
    padding:0 1rem 0 1rem;
}

.package-intro{
    /* background-color: #BE9F5B; */
    background: linear-gradient(to right, #be9f5b 0%, #2a2a2a 20%, #2a2a2a 80%, #be9f5b 100%);
    background: linear-gradient(to right, #be9f5b, #9e8249);



    width:100vw;
    padding: 1rem 0 1rem 0rem;
    margin-bottom: 1.5rem;
}



.package-1, .package-2{
    /* background-color: #937945; */
    /* background-color: #BE9F5B; */
    background: radial-gradient(ellipse at 50% 0%, #be9f5b, #6c5933);


    padding:2rem 0 2rem 0;
    margin-bottom: 3rem;
    border: 4px solid #cecece
}

.package-1 li,.package-2 li{
    /* color:white; */
    color:b
    padding: 0 2rem 0 2rem;
 

}

.package-list{
    list-style:none;
    padding:0;
    margin-top: 1rem;

}

.package-list li{
    margin-bottom: 1rem;
    /* padding-left: 3.5rem; */
}

.package-1 .title-text,.package-2 .title-text{
    /* color:white; */
}

.package-offer{
    color:black;
    font-weight: 500;
}

.bold{
    font-weight: 700;
}

.package-outro{
    background-color: #BE9F5B;
    padding:2rem 1rem 0 1rem;
    margin-bottom: 1.75rem;
}



@media screen and (min-width:655px){
   .packages-box{
    display: flex;
    width:100vw;
    justify-content: space-between;
    max-width:1600px;
    margin:auto;
   }

   .package-1, .package-2{
    width:45vw;
    
   }

   .package-1{
    margin-left:2rem;
   }

   .package-2{
    margin-right:2rem;
   }

   .package-intro{

    width:100vw;
    margin:0rem auto 2rem auto;
    font-size: 1.3rem;
    padding:1rem 5rem 1rem 5rem;

   }

   .package-outro{
    padding-top: 2rem;
    font-size: 1.3rem;
   
   }
}