.paragraph-container{
    width:100vw;
    background: radial-gradient(circle at center, rgba(229, 192, 111), rgba(119, 98, 55));
    position: relative;
}

.paragraph-container .description-text{
    padding-top
    margin: auto;
    max-width: 1000px;
}