.testimonial-container{
  background-color: var(--primary-color);
  width:calc(100vw + 0px);
margin-top: 2rem;
position: relative;
box-sizing: border-box;

height:500px;


margin-bottom: 5rem;




 

}

/* .carousel-item{
 
  margin-left: auto;
} */





.testimonial-container  .carousel-control-prev,
.testimonial-container .carousel-control-next {

 height:50px;
 position: absolute;
 top:175px;
 width:50px;

}





.carousel{
  width:90vw;
  max-width: 860px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}




.testimonial-box{
/* position: absolute; */

height:200px;
/* background-color: darkcyan; */
top:500px;
position: absolute;
left: 50%;
transform: translateX(-50%);

}

.testimonial-text-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}



.testimonial-intro{
  margin-left:auto;
  margin-right: auto;
  width:80vw;
  text-align: center;
}

.testimonial-intro .description-text{



}

.carousel .carousel-indicators{
  display:none;
}

.testimonial-box{
  height:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width:300px;
}

.testimonial-video{
  width:90vw;
  max-width: 760px;
  max-height: 400px;
  position: relative;
}


@media screen and (min-width:865px) {
  .testimonial-container{
    margin-bottom: 12rem;
  }


  .testimonial-text-box{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width:90vw;
      max-width:900px ;
      

  }

  .testimonial-box{

    top:500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

  }

  .testimonial-box p{
  text-align: center;
  }

  .testimonial-box h2{

  }
  
  .testimonial-box p{
    position:absolute;
   
    
    
  }

  .testimonial-container .description-text{
    text-align: center;
  }

  .testimonial-video{
    width:48vw;
    height:58vw;
    max-height: 537px;
    max-width: 638px;
  }

  .testimonial-container  .carousel-control-prev,
.testimonial-container .carousel-control-next {

 
  /* height:min-content; */
  /* position: absolute;
  top:20%;
  right:20%; */


  z-index: 2;

}


}


  


  