.testimonial-container{
  width:100vw;
  background-color: red;
}


.carousel{
  width:30vw;
  background-color: red;
}

.le-carousel{
margin-left: -rem;

}

.carousel-inner{
  width:400px;
}

.slide{
  width:200px
}

.carousel-item{
width:30px;
margin
}

.active{
 
}