.testimonial-container{
  background-color: var(--primary-color);
  width:100vw;
margin-top: 6rem;
overflow-x: hidden;

 

}

.carousel{
  margin-left: auto;
  margin-right: auto;
  width:80vw;
  z-index: 2;
}

.testimonial-container  .carousel-control-prev,
.testimonial-container .carousel-control-next {
  /* Decrease the hit box of the arrow buttons */
  padding: 1px;
 
  height:min-content;
  position: absolute;
  top:50%;

  z-index: 2;
  
  /* height:120px;

  position:absolute;
  top:50px; */
}

.react-player {
  /* Increase the z-index of the play button */
  z-index: 2 !important;
}

.react-player__controls {
  position: relative;
  bottom: 10px; /* Position at the bottom of the player */
  width: 100%; /* Take up the full width of the player */
  background: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent black background */
  padding: 10px; /* Optional: Add padding for better visibility */
  box-sizing: border-box; /* Ensure padding is included in the width */
}


.testimonial-box{
  position: relative;
  padding: 0;
  height:150px;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -3rem;

  z-index: 0;
}

.testimonial-box h2{
  position: absolute;
}

.testimonial-box p{
  position:absolute;
  bottom: 0px;
  
  
}

.testimonial-intro{
  margin-left:auto;
  margin-right: auto;
  width:80vw;
  text-align: center;
}



  


  