.testimonial-container{
  background-color: rgb(4, 4, 29);
  width:100vw;
position: absolute;
left:0;
overflow-x: hidden;

 

}

.carousel{
  margin-left: auto;
  margin-right: auto;
  width:80vw;
}

. carousel-control-prev,
.carousel-control-next {
  /* Decrease the hit box of the arrow buttons */
  padding: 1px !important;
 
  height:min-content;
  position: absolute;
  top:50% !important;
  
  /* height:120px;

  position:absolute;
  top:50px; */
}

.react-player {
  /* Increase the z-index of the play button */
  z-index: 1;
}



  


  