.testimonial-container {
    width: 70vw;
    margin: 0 auto; /* Center the carousel horizontally */
  }
  
  .slick-slide {
    max-width: 100%; /* Adjust the maximum width for individual slides as needed */
    margin: 0 auto; /* Center each slide horizontally */
  }
  
  .slick-list {
    overflow: hidden; /* Hide the overflow to prevent unwanted scrollbar */
  }
  