#root {

  margin: 0 auto;
  
  text-align: center;
}

:root{
  --primary-color:rgb(127, 127, 2);
}


.title-text{
  font-family: 'spartan',sans-serif;
  color:#cfd0d0;

}

.description-text{
  font-family: 'Palatino Sans', 'Palatino Sans Informal', 'Palatino Sans Text', 'Palatino Sans W1G', 'Palatino Sans W01',sans-serif;
  color:#cfd0d0
}








